Alcohol_Detector.txt
[{"id":"dd6f9aee.f1e2f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e0e56d85.1217c","type":"function","z":"dd6f9aee.f1e2f8","name":"mgL","func":"msg.payload=msg.payload.d.mgL\nglobal.set(\"mgL\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["6ea5c4cc.f176fc","48d02c62.719904"]]},{"id":"6ea5c4cc.f176fc","type":"debug","z":"dd6f9aee.f1e2f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":240,"wires":[]},{"id":"48d02c62.719904","type":"ui_gauge","z":"dd6f9aee.f1e2f8","name":"","group":"4873f573.5605ac","order":10,"width":0,"height":0,"gtype":"gage","title":"mgL","label":"mg/L","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":380,"wires":[]},{"id":"7a06d0c0.e5157","type":"ibmiot in","z":"dd6f9aee.f1e2f8","authentication":"apiKey","apiKey":"c58c1035.2a923","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IOT0203","applicationId":"","deviceType":"IOT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":310,"y":300,"wires":[["e0e56d85.1217c"]]},{"id":"71066193.017fb","type":"http in","z":"dd6f9aee.f1e2f8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":300,"y":520,"wires":[["8afe579a.b81a68"]]},{"id":"8afe579a.b81a68","type":"function","z":"dd6f9aee.f1e2f8","name":"mgL","func":"msg.payload={\"mgL\":global.get(\"mgL\")}\nreturn msg;","outputs":1,"noerr":0,"x":561,"y":510,"wires":[["89afbe7.bcc564"]]},{"id":"89afbe7.bcc564","type":"http response","z":"dd6f9aee.f1e2f8","name":"","statusCode":"","headers":{},"x":861,"y":590,"wires":[]},{"id":"4873f573.5605ac","type":"ui_group","z":"","name":"manoj1302","tab":"6e0a11ed.0662f","disp":true,"width":"6","collapse":false},{"id":"c58c1035.2a923","type":"ibmiot","z":"","name":"Manoj1302","keepalive":"60","serverName":"5rxjjv.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"6e0a11ed.0662f","type":"ui_tab","z":"","name":"Manoj1302","icon":"dashboard","disabled":false,"hidden":false}]